@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgba(254, 114, 0, 1)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
 
} */
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.active-link {

    background-image: linear-gradient(to right, white, #ffffff1e);
    color: var(--primary-color);
    border-radius: 0.75rem;
}

.active-link >svg > rect {
  stroke: var(--primary-color);
}
.active-link >svg  line {
  stroke: var(--primary-color);
}
.active-link >svg  path {
  stroke: var(--primary-color);
}
